@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
}

.header > a {
  width: 2vmax;
  height: 2vmax;
  margin: 1vmax 4vmax;
}
.header > a > svg {
  font-size: 2vmax;
  transition: all 0.5s;
  color: rgba(0, 0, 0, 0.445);
}

.header > a > svg:hover {
  color: black;
  transform: scale(1.2);
}

.title {
  width: 200px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title > a {
  color: black;
  font-size: 2rem;
  font-family: 'Satisfy', cursive;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .header > a {
    width: 8vw;
    height: 8vw;
    margin: 2vw 8vw;
  }
  .header > a > svg {
    font-size: 8vw;
  }
}
